In [1]:
#tuples
t=(1,2,3)

In [2]:
len(t)

3

In [3]:
t=('one',2)

In [4]:
t

('one', 2)

In [5]:
t[0]

'one'

In [6]:
t[-1]

2

In [7]:
t.index('one')

0

In [8]:
t.count('one')

1

In [9]:
#sets
d=set()

In [11]:
d.add(1)

In [12]:
d

{1}

In [14]:
d.add(2)

In [15]:
d

{1, 2}

In [16]:
c=[1,2,1,3,1,4,1,4,3,2]

In [18]:
set(c)

{1, 2, 3, 4}

In [21]:
#dictionaries
mydict={'key1':'value1','key2':'value2'}

In [24]:
mydict['key2']

'value2'

In [25]:
mydict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [27]:
mydict['key2']

[12, 23, 33]

In [28]:
mydict['key2'][0]

12

In [30]:
mydict['key3'][0].upper()

'ITEM0'

In [31]:
mydict['key1']

123

In [32]:
mydict['key1'] = mydict['key1'] - 123

In [33]:
mydict['key1']

0

In [34]:
mydict['key1']-=123

In [35]:
mydict['key1']

-123

In [36]:
d={}

In [37]:
d['animal']='dog'

In [38]:
d['answer']='23'

In [39]:
d

{'animal': 'dog', 'answer': '23'}

In [40]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [41]:
d['key1']['nestkey']['subnestkey']

'value'

In [42]:
dp = {'key1':'my','key2':'name','key3':'dp'}

In [43]:
dp.keys()

dict_keys(['key1', 'key2', 'key3'])

In [44]:
dp.values()

dict_values(['my', 'name', 'dp'])

In [45]:
dp.items()

dict_items([('key1', 'my'), ('key2', 'name'), ('key3', 'dp')])

In [46]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}