In [2]:
class Person:
    pass

john_doe = Person()
john_doe.name = "dp"
john_doe.surname = "B"
john_doe.year_of_birth = 1999


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x000002226F6E0BC8>
dp B was born in 1999.

In [3]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [4]:
dp= Person("deepi", "B", 1999)
print(dp)
print("%s %s was born in %d"% (dp.name,dp.surname,dp.year_of_birth))

<__main__.Person object at 0x000002226F6EB608>
deepi B was born in 1999

In [9]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
dp = Person("deepi", "B", 1999)
print(dp)
print(dp.age(2019))

deepi B was born in 1999 .
20

In [10]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [11]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [12]:
#polymorphism
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [15]:

%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [16]:
my_file = open('superman.txt')

In [17]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [18]:
my_file.read()

''

In [19]:
my_file.seek(0)

0

In [20]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [21]:
my_file.seek(0)

0

In [22]:
my_file.readlines()

['Hello, this is a quick superman test file\n']

In [24]:
my_file = open('superman.txt','w+')

In [25]:
my_file.write('This is a new line')

18

In [26]:
my_file.seek(0)

0

In [27]:
my_file.read()

'This is a new line'

In [28]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [29]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [30]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [32]:
from io import StringIO

In [33]:
message = 'This is just a normal string.'

In [34]:
f = StringIO(message)

In [35]:
f.read()

'This is just a normal string.'

In [36]:
f.write(' Second line written to file like object')

40

In [37]:
f.seek(0)

0

In [38]:
f.read()

'This is just a normal string. Second line written to file like object'